/* ================= HEADER ================= */
header {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: auto; 
    z-index: 1000;
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-color: black;
    padding-bottom: 8px;
}

/* Contenedor interno del header */
header > div {
    width: 80%;          /* ancho máximo central */
    max-width: 1200px;   /* opcional para pantallas grandes */
    text-align: center;  /* centra h1 y nav dentro del div */
    position: relative;
    padding-bottom: 4px;
}

/* h1 header */
header h1 {
    color: whitesmoke;
    font-family: 'FuenteTitulo', sans-serif;
    font-size: 60px;
    margin-bottom: 10px; /* espacio entre título y nav */
    margin-top: 20px;
}

/* ================= NAV ================= */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center; /* centra horizontalmente los li */
    gap: 30px;               /* espacio entre enlaces */
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
}

/* Enlaces dentro del nav */
header nav ul li a {
    color: whitesmoke;       /* texto blanco */
    text-decoration: none;   /* quita subrayado */
    cursor: pointer;         /* muestra mano */
    font-weight: 500;
    transition: color 0.3s;
    font-size: 1.1rem;       /* tamaño legible */
}

/* Hover de los enlaces */
header nav ul li a:hover {
    color: grey;             /* cambia a gris al pasar el ratón */
}
/* ================= BODY ================= */
body {
    background-color: black;
    margin: 0;
    font-family: sans-serif;
    opacity: 1;
}

body.visible {
    opacity: 1;
}

/* ================= MAIN ================= */
main {
    margin-top: 160px; 
    text-align: center;
}

p{
    text-align: center;
    color: white;
    margin: 15%;
}

.separator {
  width: calc(100% - 40px); /* margen lateral */
  margin: 40px auto; /* espacio arriba/abajo y centrado */
  height: 1px; /* grosor fino */
  
  background: rgba(255, 255, 255, 0.3); /* translúcido */
  backdrop-filter: blur(6px); /* efecto cristal */
  -webkit-backdrop-filter: blur(6px); /* soporte Safari */

  border-radius: 10px; /* suaviza bordes */
}



/* ================= FOOTER ================= */
footer div{
    align-items: center;
    display: inline;
}

footer {
    background-color: grey;
    text-align: center;
    padding: 20px 0;
    color: white;
}

footer p {
    margin: 0;
}

.social-icon {
    height: auto;
    vertical-align: middle;
}

.instagram-icon {
    width: 20%;
}

.soundcloud-icon {
    width: 10%;
}

/* ================= FUENTE PERSONALIZADA ================= */
@font-face {
    font-family: 'FuenteTitulo';
    src: url('../asserts/fonts/ginebra_font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}







